<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>

		<h1>About me</h1>
		<p>I am a programmer who is currently learning <a href="https://c3-lang.org">C3</a>, C3 is "the C-like for programmers who like C" - the website.</p>
		<h1>Why Astro?</h1>
		<p>I am using Astro because I wanted to have this website statically generated because I don't plan on updating it that often, and i'm also a big fan of markdown files.</p>
</body>
