---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>This is a website</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<h1>This is a website name</h1>
	</body>
</html>
